/* https://color.adobe.com/Neutral-Blue-color-theme-9739645/edit/?copy=true */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*-------LAYOUT---------*/

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
  background-color: #fff;
  height: 100%;
}

div#container {
  margin: 0 auto;
  position: relative;
  height: 100%;
}

div#main-content {
  margin-left: 200px;
  padding: 30px;
  clear: left;
}

header {
  margin-left: 200px;
  padding: 30px;
}

.header {
  /*display: inline-block;*/
}

.buttons {
  /*display: inline-block;*/
  float: right;
}

p.header {
  /*display:inline-block;*/
  float:left;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  line-height: 1em;
}

div.buttons {

}

.button {

}

div.page-wrapper {
 margin: 20px auto;
}

#errors {
  color: red;
}

h1, h2, h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

a {
  text-decoration: none;
  color: #3E606F;
}

a:hover {
  color: #3EACA8;
}


/*-------NAVBAR---------*/

nav {
  background-color: #BADA55;
  position: absolute;
  left: 0px;
  width: 200px;
  padding: 20px;
  height: 100%;
}

ul.nav-list {
  list-style: none;
  padding-left: 20px;
}

ul.nav-list > li {
  display: block;
}

li.category {
  font-weight: bold; 
  line-height: 1.5;
}

p.sign-in {
  padding-left: 20px;
}



/*-------POSTS----------*/

div.post-wrapper {
  margin: 20px auto;
  border-bottom: 1px dotted black;
}

.title {

}

.date {
  font-size: .8em;
}

.body {
  margin-bottom: 50px;
}

/*-------COMMENTS-------*/

div.comments {
  margin: 40px 20px;
}

div.comment-content {
  border-bottom: 1px dotted black;
}

div.column {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.comment-name {
  font-weight: bold;
  line-height: 1em;
}

.comment-body {

}

.comment-time {
  font-size: .8em;
  line-height: 1em;
}

