/* https://color.adobe.com/Neutral-Blue-color-theme-9739645/edit/?copy=true */


/*-------LAYOUT---------*/

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  background-color: #FCFFF5;
}

div#main-content {
  margin: 0 auto;
  width: 720px;
}

div.buttons {

}

.button {

}

div.page-wrapper {
  width: 600px;
  margin-right: 120px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-right: 1px dotted black;
}

#errors {
  color: red;
}

h1, h2, h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #3E606F;
}

a:hover {
  color: #91AA9D;
}



/*-------POSTS----------*/

div#post-wrapper {
  width: 600px;
  margin-right: 120px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-right: 1px dotted black;
}

.title {

}

.date {

}

.body {

}

/*-------COMMENTS-------*/

div#comments {

}

div.comment-content {

}

.comment-name {

}

.comment-body {

}

.comment-time {

}


/*-------NAVBAR---------*/

nav {
  background-color: #D1DBBD;
  float: right;
  width: 120px;
}

ul.nav-list {
  list-style: none;
  padding-left: 20px;
}

li.category {

}

p.sign-in {

}